#main {
	text-align: left;
	color: purple;
	background-image: url('../images/heart.png);
	background-size: relative;
}

.background{
	justify-content: space-around;
	text-align: center;
	font-size: 30px;
	color:purple;
}

body{
	font-family: Lucida Handwriting;
	font-size: 20px;
	color: #000000;
}

span{
	font-style: bold, italic;
	font-size: 22px;
	color: #ff0080;
}

.multi{
	font-size: 26px;
	color: #0080ff;
	font-family: Lucida Handwriting;
	font-style: italic;
}

.footer {
	border-radius: 5px;
	border: 2px solid #8000ff;
	height: relative;
	width: 100%;
	margin-bottom: 0px;
}

img {
	max-width: 240px;
	max-height: 240px;
}

.extensions {
	text-align: right;
}

#div {
	border-radius: 5px;
	border: 2px solid #800080;
	background-color: #c0c0c0;
	height: relative;
	width: relative;
}

.table{
		border-radius: 5px;
	border: 2px solid #8000ff;
	height: relative;
	width: relative;
	margin-bottom: 0px;
}

.table1 {
	border-radius: 5px;
	border: 2px solid #0080c0;
	height: relative;
	width: relative;
	margin-bottom: 0px;
}

.footer td {
	color:#ff0080;
}

.footer a:link {
	color: #0080c0;
}

#h2{
	color: #8000ff;
}
.userFooter {
	border-radius: 5px;
	border: 2px solid #0080c0;
	height: relative;
	width: 100%;
	margin-bottom: 0px;
}

.userFooter td {
	color:#0080c0;
}

.userFooter a:link {
	color: #0080c0;
}